.invalid-input {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(189, 0, 0);
    font-size: 80%;
}

.user-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user-field > input {
    width: 60%;
}

.user-field > label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding-top: 15px;
}

.form-fieldset > legend {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 36px;
}

.btn {
    border: 2px solid rgb(180, 205, 180);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 10px 30px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 2px;
    font-size: 20px;
    /* text-transform: uppercase; */
    color: rgba(26, 26, 26, 0.95);
    background-color: rgb(180, 205, 180);
    cursor: pointer;
}

.btn:hover {
    background: transparent;
}

.form-input-text {
    font-family: Helvetica, Arial, sans-serif;
    border: 0px;
    border-bottom: 2px solid gray;
    height: 2rem;
    font-size: 20px;
    background-color: #FFFAFA;
}

.form-input-text-invalid {
    border-bottom-color: rgb(189, 0 0);
}

.form-fieldset {
    border: none;
    /* border-bottom: 1px solid gray; */
    
}

.form-fieldset > legend {
    /* padding: 0 0 1.25em 0; */
    /* border-bottom: 1px solid gray; */
}

.form-check {
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 10px;
    font-size: 20px
}
