.logo{
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0 0 0 15px;
    width: 150px;
}

.logo a:hover{
    border: none;
}

#logo-top{
    font-size: 40px;
    color: rgba(26, 26, 26, 0.95);
    z-index: 1;
    font-weight: 450;
    margin-left: auto;
    margin-right: auto;
}

#logo-bottom{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    position: absolute;
    bottom: 4px;
    left: 22px;
    margin-left: auto;
    margin-right: auto;

}

.navbar{
    background: rgb(180, 205, 180);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar ul, li{
    padding: 0;
    margin: 0;
}

.navbar li{
    list-style: none;
    display: inline-block;
}

.navbar a{
    padding: 0 1.5rem 0 1.5rem;
    color:  rgb(26, 26, 26);
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

.navbar li:hover{
    border-bottom: 2px solid rgb(26, 26, 26);
}

.container-spacing{
    margin: 0;
    padding: 15px;
}
.main-container{
    display: flex;
    flex-direction: row;
}
.wrapper{
    margin: auto;
    max-width: 1000px;
}

.contents{
    background-color: antiquewhite;
}

.article-contents{
    padding-top: 15px;
}

.sidebar{
    min-width: 100px;
}

p { /* .main-content { */
    margin: 0;
    margin-top: 0.8em;
    font-family: Georgia;
   background-color: rgba(0, 255, 0, 0.25);
   font-size: 22px;
   line-height: 30px;
}
.article-contents p:first-of-type:first-letter{
    font-size: 2.89em;
    float: left;
    padding-top: 10px;
    padding-right: 5px;
}

.flash{
    background-color: rgba(171, 198, 253, 0.7);
    border-left-color: rgba(145, 195, 230, 1);
    border-left-width: 3px;
}
.flash.warning{
    background-color: rgba(255, 147, 84, 0.7);
    border-left-color: rgba(232, 102, 65, 1);
}

.flash.success{
    background-color: rgba(157, 255, 179, 0.7);
    border-left-color: rgba(140, 232, 132, 1);
}
.flash.error{
    background-color: rgba(255, 112, 95, 0.7);
    border-color: rgba(232, 74, 90);
}