{% extends "layout.html" %}
    {% block content %}
        <article class="article-contents">
            <h1>About Page</h1>
            <p>Some text here. Lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots of text.</p>
        </article>
    {% endblock content %}