{% extends "layout.html" %}
    {% block content %}
        <h1 class="mb-3">Posts by: {{ author.username }} ({{ posts.total }})</h1>
        {% for post in posts.items %}
            <article class="article-preview">
              <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
              <div class="article-meta">
                by <a href="{{ url_for('users.author_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small>{{ post.date_posted.strftime('%d %B %Y') }}</small>
              </div>
              {{ render_post_content(post.content, True) }}
              <a class="continue-link" href="{{ url_for('posts.post', post_id=post.id) }}">continue reading...</a>
            </article>
        {% endfor %}
  {% include "pagination.html" %}
  {% endblock content %}