{% extends "layout.html" %}
{% block content %}
<div class="">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-fieldset">
            <legend class="">{{ legend }}</legend>
            <div class="user-field">
                {{ form.title.label(class="") }}

                {% if form.title.errors %}
                    {{ form.title(class="form-control form-input-text-invalid") }}    
                    <div class="invalid-input">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-input-text") }}
                {% endif %}
            </div>
            <div class="user-field">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-input-text-invalid") }}    
                    <div class="invalid-input">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-input-text-area") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
</div>
{% endblock content %}