{% extends "layout.html" %}
    {% block content %}
      {% for post in posts.items %}
          <!-- <article class="media content-section"> -->
          <article class="article-preview">
              <h2><a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
              <div class="article-meta">
                by <a href="{{ url_for('users.author_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small>{{ post.date_posted.strftime('%d %B %Y') }}</small>
              </div>
                {{ render_post_content(post.content, True) }}
              <a class="continue-link" href="{{ url_for('posts.post', post_id=post.id) }}">continue reading...</a>
          </article>
      {% endfor %}
      <!-- This code is also used in the author_posts route. Can use \{\% include "<file>.html" \%\} 
        instead of duplicate code. -->
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if page_num == posts.page %}
            <a href="{{url_for('main.home', page=page_num)}}">{{ page_num }}</a>              
          {% else %}
            <a href="{{url_for('main.home', page=page_num)}}">{{ page_num }}</a>
          {% endif %}
        {% else %}
        ...
        {% endif %}
      {% endfor %}
    {% endblock content %}