{% extends "layout.html" %}
    {% block content %}
        <article class="article-contents">
            <div class="media-body">
                <div class="article-title">
                    <h2>{{ post.title }}</h2>
                    {% if post.author == current_user %}
                        <a class="btn btn-secondary btn-small" href="{{ url_for('posts.update_post', post_id=post.id)}}">Update</a>
                        <a class="btn btn-danger btn-small" href="#modal">Delete</a>
                    {% endif %}
                </div>
                <div class="article-meta">
                    <a class="mr-2" href="#">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%d %B %Y') }}</small>
                </div>
                {{ render_post_content(post.content) }}
            </div>
        </article>
        <!-- Modal -->
        <div class="modal fade" id="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                </div>
                <div class="modal-footer">
                    <a  class="btn btn-small" href="#">Close</a>
                    <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger btn-small" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    {% endblock content %}